@import url( 'https://fonts.googleapis.com/css2?familia =Staatliches&mostrar = swap ');
@import url( 'https://fonts.googleapis.com/css2?familia =Arvo&mostrar = swap ');
@import url(menu.css);
@import url(banner.css);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Arvo', serif;
	background-image: url(../img/fondo.jpg);
}


header {
	width: 100%;
	height: 50px;
	background: #000000;
	color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.vinculo:hover {
	color: rgb(0, 116, 116);
	text-decoration: none;
  }

  .video {
	padding: 20px;
	text-align: center;
  }

.intro {
	text-align: auto;
		width: 100%;
		margin: 0px;
		text-align: auto;
		border-radius:50px;
		padding: 20px;
		background-color: azure;
	}

.contenedor {
	width: 98%;
	margin: auto;
	border-radius:50px;
	border: 2px solid rgb(47, 99, 99);
	padding: 20px;
	background-color: rgb(162, 250, 250);

}

.titulo {
	width: 98%;
	margin: 10px;
	text-align: auto;
	border-radius: 50px;
	border: 2px solid rgb(47, 99, 99);
	padding: 20px;
	background: azure;
}

.frase{
	font-family: 'Arvo', serif;
	border: 2px solid rgb(47, 99, 99);
}

.comienzo, .intro , .frase {
	width: 98%;
	margin: 10px;
	text-align: auto;
	border-radius:50px;
	padding: 20px;
	background-color: azure;
}

.Historia, .Educacion{
	width: 98%;
	margin: 10px;
	text-align: auto;
	border-radius:50px;
	border: 2px solid rgb(47, 99, 99);
	padding: 20px;
	background-color: rgb(162, 250, 250, 0.3);
}

h3, h4, h5 {
	float: auto;
	font-family: 'Arvo', serif;
}

h2 {
	float: center;
	font-family: 'Arvo', serif;
}

p , li {
	font-family:'Staatliches', cursiva;
}


.lista{
	text-align:left;
	display: inline-block;
}
	
	@media (min-width: 1024px) {
		.contenedor {
			width: 500px;
		}
	}

		@media (min-width: 1024px) {
			.foto {
				width: 500px;
			}
		}

.credito {
			width: 98%;
			margin: 10px;
			text-align: auto;
			border-radius:50px;
	border: 2px solid rgb(47, 99, 99);
			padding: 20px;
			background-color: azure;
		}