.menu a {
	display: block;
	color: #ffffff;
	height: 50px;
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

@media (min-width: 1024px) {
	.menu {
		position: static;
		width: auto;
		height: auto;
		transform: tranlateX(0%);
		float: right;
		display: flex;
	}
}